<%- include('../includes/admin-head.ejs') %>
<link rel="stylesheet" href="../css/admin.css" />
<link
	href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
	rel="stylesheet"
/>
<%- include('../includes/admin-sidebar.ejs') %>

<section class="home-section " >
	
	<%- include('../includes/admin-nav.ejs') %>
	<div class="home-content">
		<div class="sales-boxes">

		<form action="" class="recent-sales box">
			<h2 style="text-align: center;">Add Auction</h2>
			<br>
			<div class="addAuction">
				<label for="startDate">Start Date for Auction:</label>
				<input type="date" name="startDate" id="startDate" />
			</div>
			<br>
		<div >
			<% cars.forEach((car, i) => { %>
				<input type="number" name="startPrice<%= i %>" id="" placeholder="Start Price for <%= car.brand %>">
				<div>
				<input
				type="checkbox"
				id="<%= car._id %>"
				name="chosenCar<%= i %>"
				value="<%= car._id %>"
			/>
			<label for="<%= car._id %>">   Brand:  <%= car.brand %>  -   Model:  <%= car.model %>  -  Year:  <%= car.year %>  -  ExteriorColor:  <%= car.exteriorColor %>  -   Mileage: <%= car.mileage %>  </label><br><br>
				</div>

			<% }); %>
		</div>
		<div>
               <button type="submit" class="button"style=" color:white ; width: 25%; background-color: #0a2558; ">
				Add auction
				</button>
		</div>
	</form>
	</div>
	</div>
</section>

<%- include('../includes/admin-end.ejs') %>
