<%- include('../includes/admin-head.ejs') %>
<link rel="stylesheet" href="../css/admin.css" />
<link
	href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
	rel="stylesheet"
/>
<%- include('../includes/admin-sidebar.ejs') %>

<section class="home-section">
	<%- include('../includes/admin-nav.ejs') %>
	<div class="home-content">
		<div class="sales-boxes">
		<form action="/admin/add-auction?_csrf=<%=csrfToken%>" method="post" class="add_auction">
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">
			<h1>Add Auction</h1>
			<div>
				<label for="startDate">Start Date for Auction:</label>
				<input type="date" name="startDate" id="startDate" />
			</div>
		<div>
			<% cars.forEach((car, i) => { %>
				<input type="number" name="startPrice" id="" placeholder="Start Price for <%= car.brand %>">
				<div>
				<input
				type="checkbox"
				id="<%= car._id %>"
				name="chosenCar"
				value="<%= car._id %>"
			/>
			<label for="<%= car._id %>"> <%= car.brand %></label><br />
				</div>

			<% }); %>
		</div>
		<div>
			<button type="submit" class="button">Add Auction</button>
		</div>
	</form>
	</div>
</section>
<%- include('../includes/admin-end.ejs') %>
