<%- include('../includes/admin-head.ejs') %> 
<section class="home-section">
	<%- include('../includes/admin-nav.ejs') %>
		<% if (errorMessage) { %>
			<div class="user-message user-message--error"><%= errorMessage %></div>
		<% } %>
	<div class="home-content" style="margin: 0 auto">
		<div class="sales-boxes">
			<div class="recent-sales box" style="margin: 0 auto">
				<div class="sales-details" style="margin: 0 auto">
					<form action="admin-signin" method="post">
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						<div class="form">
							<div class="title">Sign in</div>
							
							<div class="input-container ic2">
								<input
									id="email"
									class="input"
									type="text"
									placeholder=" "
									name="admin[email]"
								/>
								<div class="cut cut-short"></div>
								<label for="email" class="placeholder"
									>Email</label
								>
							</div>
							<div class="input-container ic2">
								<input
									id="password"
									class="input"
									type="password"
									name="admin[password]"
									placeholder=" "
								/>
								<div class="cut"></div>
								<label for="password" class="placeholder"
									>Password</label
								>
							</div>

							<button type="text" class="submit">Signin</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('../includes/admin-end.ejs') %>