<%- include('../includes/head.ejs') %> <%- include('../includes/header.ejs') %>

<section id="containers" class="container mt-5 w-100 bg-white">
	<h2 id="heading" class="text-center text-grey">Profile</h2>
	<% if (errorMessage) { %>
		<div class="user-message user-message--error"><%= errorMessage %></div>
	<% } %>
	<form action="/organizer-Profile" method="post">
		<input type="hidden" name="_csrf" value="<%= csrfToken %>">
		<div class="input-group mb-3">
			<input
				style="width: 0auto"
				required
				type="text"
				class="form-control"
				placeholder="<%= org.firstName%>"
				aria-label="FirstName"
				aria-describedby="basic-addon1"
				name="org[firstName]"
				value="<%= org.firstName%>"
			/>
			<input
				style="width: 0auto"
				required
				type="text"
				class="form-control"
				placeholder="<%= org.lastName%>"
				aria-label="LastName"
				aria-describedby="basic-addon1"
				name="org[lastName]"
				value="<%= org.lastName %>"
			/>
		</div>

		<div class="input-group mb-3">
			<input
				style="width: 0auto"
				required
				type="email"
				class="form-control"
				placeholder="<%= org.email %>"
				aria-label="Email"
				aria-describedby="basic-addon2"
				name="org[email]"
				value="<%= org.email %>"
			/> </div>
			<div class="input-group mb-3">
				<input
					type="number"
					placeholder="<%= org.phoneNumber %>"
					class="form-control"
					name="org[phoneNumber]"
					value="<%= org.phoneNumber %>"
				/>
			</div>
	
		
		</div>

		
		<div class="align-items-center">
			<div class="">
				<input
					required
					type="password"
					id="inputPassword6"
					class="form-control"
					placeholder="Password"
					aria-describedby="passwordHelpInline"
					name="org[password]"
				/>

			</div>
		</div>
		<div id="submit-button" class="text-center mb-2">
			<button type="submit" class="btn btn-primary mt-3">
				Update Profile
			</button>
		</div>
	</form>
</section>

 <%- include("../includes/end.ejs") %>
