<%- include('../includes/head.ejs') %> <%- include('../includes/header.ejs') %>

<section id="containers" class="container mt-5 w-100 bg-white">
	<h2 id="heading" class="text-center text-grey">Previous Auctions</h2>

	<section class="row ">
		<% auctions.forEach((auction, i) => { %>
			<div class="col mt-5 mb-5 border ">
				<div class="row">
					<div class="col text-center mt-2 "> Auction <%= i + 1 %></div>
				</div>
				<div class="row ">
					<div class="col text-center mt-2">
						Auction Date : <%= auction.startDate.toString()
						.substring(0,auction.startDate
						.toString().indexOf(':') - 2) %>
					</div>
				</div>
				<div class="row ">
					<div class="col text-center mt-5 mb-2"><a class="btn btn-primary m-auto" href="/auction/auctioninfo">Auction Info</a></div>
				</div>
	
				</div>
		<% }) %>
	</section>

</section>
<%- include("../includes/end.ejs") %>
